.item-detail__content {
  max-width: 1230px;
  margin: 0 auto;
  padding: 50px;
}

.item-detail {
  display: flex;
  gap: 50px;
  align-items: flex-start; /* 上揃え */
}

.item-detail__image,
.item-detail__info {
  flex: 1; 
  min-width: 0;
}

.item-detail__image {
  display: flex;
  justify-content: center;
}

.item-detail__image img{
  width: 80%;
  height: auto;
  object-fit: contain;
}

.item-detail__name,
.item-detail__brand {
  margin: 0;
}

.item-detail__price {
  font-size: 24px;
  margin: 8px 0;
}

.item-detail__price-tax {
  font-size: 15px;
}

.item-detail__actions {
  padding: 0 20px;
  display: flex;
  gap: 30px;
  align-items: center;
}

.item-detail__action {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}

.item-detail__action-button {
  cursor: pointer;
  border: none;
  background: transparent;
}

.item-detail__action-icon {
  width: 30px;
  height: 30px;
}

.item-detail__purchase {
  margin-top: 8px;
  width: 100%;
  height: 40px;
  background-color: #FF5555;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-detail__purchase-link {
  color: white;
  text-decoration: none;
  padding: 10px;
  font-weight: bold;
}

.item-detail__heading {
  margin-top: 40px;
  margin-bottom: 16px;
}

.item-detail__info-row {
  display: flex;
  gap: 15px;
  margin-bottom: 16px;
  align-items: center;
}

.item-detail__label {
  margin-right: 40px;
}

.item-detail__category {
  display: flex;
  gap: 10px;
}

.item-detail__category-tag {
  background-color: #D9D9D9;
  border-radius: 30px;
  padding: 2px 20px;
}

.item-detail__comment-heading {
  color: #5F5F5F;
}

.item-detail__comment-form-heading {
  font-size: 18px;
}

.item-detail__comment-user-icon,
.item-detail__comment-user-icon--default {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.item-detail__comment-user {
  display: flex;
  gap: 20px;
  align-items: center;
}

.item-detail__comment-user-name {
  font-weight: bold;
}

.item-detail__comment-user-icon {
  object-fit: cover;
  display: block;
}
    
.item-detail__comment-user-icon--default {
  background-color: #D9D9D9;
}

.item-detail__comment-text {
  width: 100%;
  background-color: #D9D9D9;
  padding: 10px;
}

.item-detail__comment-textarea {
  width: 100%;
  height: 200px;
}

.item-detail__comment-button {
  margin-top: 20px;
  width: 100%;
  height: 40px;
  background-color: #FF5555;
  cursor: pointer;
  border: none;
  color: white;
  font-weight: bold;
}